<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="allCon" style="width: 70%;margin: 0 auto;margin-top: 60px;">
      <h1 style="text-align: center;">test</h1>
      <!--新增-->
      <div class="initform" accept-charset="utf-8">
        <div class="from-group">
          <label>用户名</label>
          <input
            class="form-control createTitle"
            type="text"
            name="content"
            placeholder="Enter Todo"
          />
          <label>内容</label>
          <input
            class="form-control createContent"
            type="text"
            name="content"
            placeholder="Enter Todo"
          />
        </div>
        <div class="from-group" style="margin: 10px 0px;">
          <button type="button" class="btn btn-info" onclick="login()">登陆</button>
          <button type="button" class="btn btn-info" onclick="searchItem()">查询</button>
        </div>
              <!--显示数据库信息-->
        <div class="content" onclick="editItem()" style="margin-top: 10px;"></div>

      </div>
    </div>
  </body>
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script>
    var global = {};
    //查询全部数据
    function login() {
      $('.content').empty();
      var obj = {};
      obj.username = $('.createTitle').val();
      obj.passwd = $('.createContent').val();
      console.log(obj)
      $.post('http://localhost:3000/login',obj, function(res) {
        // debugger
        console.log(res)
          // $('.content').append(res);
        
      });
      // $.post('http://localhost:5000/users/login',obj,function(res){
      //   console.log(res)

      // })
    }
    //查询数据
    function searchItem() {
       $.get('http://localhost:3000/search',function(res){
        console.log(res)

      })
    }

  </script>
</html>
